<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.todo_list">



<application android:theme="@style/AppTheme"
    android:supportsRtl="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:allowBackup="true"
    android:name=".AppController">

    <activity android:name=".activity.AlarmActivity"/>

    <activity android:name=".activity.MainActivity"/>

    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>




    <receiver android:name=".broadcastReceiver.AlarmBroadcastReceiver" android:enabled="false">


    <intent-filter>

    <action android:name="android.intent.action.BOOT_COMPLETED"/>

</intent-filter>

</receiver>

    <service android:name=".broadcastReceiver.AlarmService" android:enabled="true" android:exported="true"/>

</application>

<uses-permission android:name="android.permission.WAKE_LOCK"/>

<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest>